.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 12rem;

    &__text {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    &__social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;

        &--knot {
            width: 8rem;

            @include respond(phone) {
                width: 5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
        &--wire {
            height: 4rem;

            @include respond(phone) {
                height: 3rem;
            }
            &:hover {
                cursor: pointer;
            }
        }

        &--award {
            height: 8rem;

            @include respond(phone) {
                height: 6rem;
            }
        }
    }
}
