.header {
    width: 100vw;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.336);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.1rem);
    position: fixed;
    z-index: 1000;
    font-family: 'Nunito', serif;

    transition: all 0.2s;
    // border-bottom: 0.15rem solid #fff2e9;
    color: black;
    display: flex;
    justify-content: space-between;

    &--trans {
        background-color: #fff;
        color: black;
    }

    &__nav {
        align-self: flex-end;
        padding: 2rem;
    }

    &__nav--list {
    }

    &__nav--item {
        font-size: 1.9rem;
        font-weight: 700;
        margin-right: 5rem;
        padding-bottom: 0.8rem;
        border: none;

        &:hover {
            border-bottom: 2px solid black;
            cursor: pointer;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
    }

    &__badge {
        justify-self: left;
        align-self: center;
        margin-left: 2rem;
        shape-rendering: geometricprecision;
        cursor: pointer;
        height: 3.5rem;
        width: 3.5rem;
        transition: all 0.3s;

        &:first-child {
            &:hover {
                fill: #0e68ce;
            }
        }

        &:hover {
            transform: scale(1.05);
            fill: red;
        }

        // & img {
        //     cursor: pointer;
        //     height: 10rem;
        //     width: auto;
        //     padding: 1rem;
        //     padding-right: 3rem;
        // }
    }
}
