.nav-bar {
    // font-family: 'Cormorant', serif;
    width: 100vw;
    background-color: transparent;
    color: #654a4e;
    top: 0;
    position: fixed;
    display: flex;
    text-align: center;
    height: 10rem;
    width: 100vw;
    z-index: 1000;
    transition: all 0.7s;
    // border: 1rem solid red;

    &__menu {
        position: absolute;
        margin: auto 0;
        font-size: 1.6rem;
        height: inherit;
        width: 10rem;

        @include respond(phone) {
            left: -1rem;
        }

        & ion-icon {
            @include absCenter;
            font-size: 4rem;
            font-weight: lighter;
            transition: all 0.1s;
            &:hover {
                cursor: pointer;
                transform: scale(1.1) translate(-48%, -48%);
            }
        }
    }

    &__heading {
        @include absCenter;
        // letter-spacing: 0.1em;
        line-height: 0.8em;
        font-size: 4rem;
        @include respond(phone) {
            font-size: 2.5rem;
            right: 5rem;
            display: flex;
            justify-self: end;
        }

        text-decoration: none;
        transition: all 0.2s;
        & a:link,
        & a:visited {
            color: #654a4e;
            text-decoration: none;
        }
        transform: translate(27%, -50%);
        right: 0;
        &--animate {
        }
    }
    &__ul {
        display: inline;
        text-align: center;
        list-style: none;
        margin-top: 3rem;
        font-size: 1.6rem;
        font-weight: 700;
        & li {
            display: inline-block;
            margin-left: 4rem;
        }

        & li a:link,
        & li a:visited {
            // padding: 0 0;
            color: black;
            text-decoration: none;
            font-size: 90%;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
        }
        & li a:hover,
        & li a:active {
            border-bottom: 2px solid black;
        }

        // .main-nav-active {
        //     border-bottom: 2px solid black;
        // }
    }
}

.nb-hide {
    transform: translateY(-150%);
    // opacity: 0;
}
