// .nav-modal-open {
//     position: fixed;
//     left: 2%;
//     height: inherit;
//     width: 10vw;
//     border: 2px solid black;
// }

.navigation {
    // border: 2px solid black;
    background-color: rgba(245, 245, 245, 0.536);
    width: 40vw;
    color: $color-grey-dark;

    height: 100vh;
    transform: translateX(-100%);

    &--open {
        -webkit-animation: slide-in 1s ease-in;
        animation: slide-in 0.4s ease-in;
        transform: translateX(0);
    }

    &--close {
        -webkit-animation: slide-out 1s ease-in;
        animation: slide-out 0.4s ease-in;
        transform: translateX(-100%);
    }

    &__ul {
        // border: 2px solid red;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;

        & li {
            font-size: 5rem;
            padding: 1rem 2rem;
            font-weight: 300;
            border-bottom: 0.5rem solid transparent;
            transition: all 0.2s;
            &:link,
            &:visited {
                color: $color-white;
                text-decoration: none;
            }
            &:hover {
                cursor: pointer;
                border-bottom: 0.5rem solid $color-grey-dark;
            }
        }
    }
}
