.navigation {
    @include blur;
    background-color: rgba(245, 245, 245, 0.815);
    color: #654a4e;
    height: 10rem;
    transform: translateX(-100%);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    // margin: 1rem 0;
    width: auto;

    @include respond(phone) {
        width: 100vw;
    }

    &__exit {
        // padding-top: 2rem;
        // padding-left: 2rem;
        // border: 1rem solid red;
        height: auto;
        display: flex;
        justify-content: center;

        & ion-icon {
            transition: all 0.2s;
            font-size: 4rem;
            margin: 0 0 0.5rem 2.9rem;
            &:hover {
                cursor: pointer;
                transform: scale(1.2) rotate(180deg);
            }

            @include respond(phone) {
                margin-left: 2rem;
            }
        }
    }

    &--open {
        -webkit-animation: slide-in 1s ease-in;
        animation: slide-in 0.4s ease-in;
        transform: translateX(0);
    }

    &--close {
        -webkit-animation: slide-out 1s ease-in;
        animation: slide-out 0.4s ease-in;
        transform: translateX(-100%);
    }

    &__ul {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: auto;

        & li {
            font-size: 2rem;
            margin: 1rem 2rem;
            font-weight: 300;
            border-bottom: 0.1rem solid transparent;
            // transition: all 0.2s ease-in;
            &:link,
            &:visited {
                color: $color-white;
                text-decoration: none;
            }
            &:hover {
                cursor: pointer;
                border-bottom: 0.1rem solid #654a4e;
            }

            &:first-child {
                margin-left: 2rem;
            }

            &:last-child {
                margin-right: 2.9rem;
            }

            @include respond(phone) {
                font-size: 2rem;
                margin: 1rem;
            }
        }
    }
}
