{
    "env": {
        "development": {
            "compact": true
        }
    },
    "presets": [
        "babel-preset-react",
        "babel-preset-env",
        [
            {
                "sourceMap": false
            }
        ]
    ]
}
