*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-family: 'Cormorant', serif;
    font-family: 'Prata', serif;

    font-weight: 300;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden !important;
    background-color: #e6ddde;
    // background-image: linear-gradient(
    //         90deg,
    //         rgba(255, 255, 255, 0.07) 90%,
    //         transparent 90%
    //     ),
    //     linear-gradient(90deg, rgba(255, 255, 255, 0.13) 5%, transparent 5%),
    //     linear-gradient(5deg, transparent 5%, rgba(255, 255, 255, 0.17) 5%),
    //     linear-gradient(5deg, transparent 5%, rgba(255, 255, 255, 0.19) 5%);
    // background-size: 13px, 29px, 37px, 53px;

    ::-webkit-scrollbar {
        width: 0rem;
        background: transparent;
    }

    @include respond(phone) {
        font-size: 44%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    padding: 0 0;
    overflow-x: hidden !important;
}

// ::-moz-selection {
//     background-color: $color-primary;
//     color: $color-white;
// }

// ::selection {
//     background-color: $color-primary;
//     color: $color-white;
// }
