.section-bio {
    // background-color: $color-white;
    // border: 3px solid orangered;
    overflow: hidden;
    // box-shadow: 0.5rem 4rem 4rem rgba($color-black, 0.4);
}

.section-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70rem;
    margin: $gutter-horizontal 0;
    // overflow: hidden;
}

.section-video-player {
    margin: 15rem 0 0 0;
}

.section-audio {
    position: relative;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    // border: 2px solid red;

    // &::after {
    //     content: '';
    //     @include absCenter;
    //     width: 71rem;
    //     height: 71rem;
    //     border-radius: 100%;
    //     background: linear-gradient(
    //         180deg,
    //         rgba(255, 255, 255, 0.57) 100%,
    //         rgba(255, 0, 0, 0.468) 0%
    //     );
    //     z-index: -1;
    // }
}
