.section-navigation {
    position: fixed;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    z-index: 10000;
    // -webkit-backdrop-filter: blur(20px);
    // backdrop-filter: blur(20px);
}

.section-hero {
    border: 2px solid rgb(148, 125, 148);
}

.section-hero2 {
    // height: 100vh;
    width: 100vw;
    // overflow-x: hidden;
    // border: 2rem solid green;
}

.section-bio {
    overflow: hidden;
}

.section-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70rem;
    margin: $gutter-horizontal 0;
    // overflow: hidden;
}

.section-video-player {
    // margin: 15rem 0 0 0;
}

.section-audio {
    position: relative;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    margin: 8rem 0 0 0;
    // transform: translateX(-15vw);
    z-index: 10;
}

.section-audio2 {
    display: flex;
    justify-content: start;
    align-items: center;
    // opacity: 0.9;
    width: 100vw;
    // margin: 15rem 0 0 0;
    // border-radius: 10rem;
    // overflow: hidden;
    // transform: translateX(-15vw);
}

.section-song-list {
    margin: -1rem 0 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.section-contact {
    display: flex;
    text-align: center;
    // height: auto;
    justify-content: center;
}

.section-book {
    height: 90vh;
    background-color: #ffffffc7;
    @include blur;
    padding: 5.5rem 0 0 0;
}

.section-footer {
    height: 100%;
    // border: 2rem solid green;

    background-image: linear-gradient(to right bottom, #e6ddde, $color-white);
    // opacity: 1;
}
