@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin blur {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

@mixin box-shadow {
    box-shadow: 3rem 4rem 4rem rgba($color-black, 0.4);
}
