.audio {
    @include absCenter;
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 70rem;
    width: 70rem;
    z-index: 3;
    border-radius: 50%;

    &__progress {
        @include absCenter;
        width: 70rem;
        height: 70rem;
        border-radius: 100%;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.57) 100%,
            rgba(255, 0, 0, 0.468) 0%
        );
        z-index: -1;
        transition: all 1s;
    }

    &__img {
        position: absolute;
        width: 100%;
    }

    &__controls {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100vw;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        & ion-icon {
            // border: 2px solid red;
            display: flex;
            padding: 3vh 0 2vh 0;
            text-decoration: none;
            color: rgba(255, 0, 0, 0.468);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            height: 20rem;
            width: 20rem;
            transition: all 0.5s;

            &:hover {
                // color: rgb(0, 0, 0);
                cursor: pointer;
                color: rgb(240, 166, 166);
            }
        }

        &--play ion-icon {
            border-radius: 2px;
        }

        &--choice ion-icon {
            padding: 1rem;
        }
    }
    &__songs {
        display: flex;
        z-index: 3;

        justify-content: center;
        text-align: center;
        overflow: hidden;

        & ul {
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.392);
            border-radius: 10px;

            width: 70%;
            list-style: none;
            height: 30vh;
            overflow-y: scroll;
        }

        & li {
            color: rgb(0, 0, 0);
            margin-bottom: 10px;
            font-size: 250%;
            line-height: auto;
            font-weight: bolder;
            align-items: baseline;
            cursor: pointer;
        }
    }
}

.audio-songs-wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.active {
    background-color: #aca1853a;
}
