.audio {
    @include absCenter;
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    // align-items: center;
    height: 80vh;
    width: 70rem;
    z-index: 3;
    border-radius: 1rem;
    // border: 1px solid red;

    &__progress {
        @include absCenter;
        width: 70rem;
        height: 80vh;
        border-radius: 1rem;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.57) 100%,
            rgba(161, 152, 79, 0.66) 0%
        );
        z-index: -1;
        opacity: 0.7;
        // transform: rotate(180deg);
        transition: all 1s;
        // transition: rotate 0s;
    }

    &__img {
        border: 1px solid red;
        position: absolute;
        margin-left: 8rem;
        align-self: center;
        // width: 100%;
    }

    &__controls {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vh;
        -webkit-backdrop-filter: blur(10rem);
        backdrop-filter: blur(10rem);

        & ion-icon {
            display: flex;
            padding: 3vh 0 2vh 0;
            text-decoration: none;
            color: #f5deb374;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            height: 15rem;
            width: 15rem;
            transition: all 0.5s;

            &:hover {
                // color: rgb(0, 0, 0);
                cursor: pointer;
                color: #f5deb3f1;
            }
        }

        &--play ion-icon {
            border-radius: 2px;
        }

        &--choice ion-icon {
            height: 13rem;
            width: 13rem;
        }
    }
    &__songs {
        display: flex;
        z-index: 3;
        justify-content: center;
        text-align: center;
        overflow: hidden;

        & ul {
            display: flex;
            flex-direction: column;
            margin: 10rem auto;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            justify-content: left;
            list-style: none;
            height: 20%;
            overflow-y: scroll;
            overflow-x: hidden;
            // border: 2px solid red;
        }

        & li {
            display: flex;
            text-align: center;
            color: rgb(255, 255, 255);
            padding: 2rem 10rem;
            width: 200%;
            font-size: 2.5rem;
            line-height: auto;
            font-weight: bolder;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 0.1rem 10rem rgba($color-black, 1);
        }

        &--active {
            background-color: rgba(161, 152, 79, 0.6);
        }

        &--number {
            padding-right: 4rem;
        }
    }
}
