.bio {
    transition: all 0.2s;
    position: relative;

    &--animate {
        -webkit-animation: fade-up 1s;
        animation: fade-up 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    &__heading-box {
        width: 100vw;
    }
    &__heading {
        // opacity: 0.3;
        color: rgba(0, 0, 0, 0.233);
        text-align: left;
        width: 100%;
        font-size: 5rem;
        margin: 4rem 14rem;
        @include respond(phone) {
            margin: 4rem auto;
            text-align: center;
        }
    }
    &__text {
        font-size: 2rem;
        font-weight: 500;
        color: black;
        opacity: 0.8;
        line-height: 2.7rem;
        letter-spacing: 0.06rem;
        text-indent: 6rem;
        padding: 0 2rem;

        @include respond(phone) {
            text-indent: 3rem;
            line-height: 3.5rem;

            font-size: 2rem;
        }

        & p {
            @include respond(phone) {
                display: flex;
                width: 100% !important;
                margin-bottom: 3rem;
            }
        }
    }
}
