.bio {
    transition: all 0.2s;
    position: relative;

    &--animate {
        -webkit-animation: fade-up 1s;
        animation: fade-up 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    &__heading-box {
        width: 100vw;
    }
    &__heading {
        // opacity: 0.3;
        color: rgba(0, 0, 0, 0.89);
        text-align: left;
        width: 100% !important;
        font-family: initial;
        font-size: 6rem;
        font-style: italic;
        font-weight: 700;
        padding: 3rem 0 4rem 2rem;
        @include respond(phone) {
            margin: 0 auto;
            text-align: center;
            padding: 3rem 0;
            font-size: 5rem;
        }
    }
    &__text {
        font-size: 1.8rem;
        font-family: 'Nunito', serif;

        color: black;
        opacity: 0.8;
        line-height: 2.7rem;
        letter-spacing: 0.06rem;
        text-indent: 6rem;
        padding: 0 2rem;

        @include respond(phone) {
            text-indent: 3rem;
            line-height: 3rem;
        }

        & p {
            @include respond(phone) {
                display: flex;
                width: 100% !important;
                margin-bottom: 3rem;
            }
        }
    }
}
