.bio {
    transition: all 0.2s;
    font-family: 'Nunito', serif;

    &--animate {
        -webkit-animation: fade-up 1s;
        animation: fade-up 1s;
    }
    &__heading-box {
        text-align: center;
        // opacity: 0.6;
    }
    &__heading {
        color: black;

        opacity: 0.6;
        font-size: 5rem;
        padding: 0 0 5rem 0;

        &::before {
            content: '';
            height: 0.1rem;
            width: 9rem;
            margin: 0rem 0rem 0rem 2.7rem;
            position: absolute;
            border: 4rem solid #fff2e9;
            border-radius: 2rem;
            z-index: -1;
            box-shadow: 1.1rem 1.1rem 0.5rem rgba($color-black, 0.4);
        }
    }
    &__text {
        font-size: 1.75rem;
        color: black;
        opacity: 0.8;
        line-height: 2.7rem;
        letter-spacing: 0.05rem;
        text-indent: 6rem;
        padding: 0 2rem;

        @include respond(phone) {
            text-indent: 3rem;
            line-height: 3.5rem;

            font-size: 2rem;
        }

        & p {
            @include respond(phone) {
                display: flex;
                width: 100% !important;
                margin-bottom: 3rem;
            }
        }
    }
}
