.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    background-color: white;
    padding: 0 0 6rem 0;
    &--animate {
        -webkit-animation: fade-up 1s;
        animation: fade-up 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    &__wrapper {
        height: auto;
        width: 60%;
        max-width: 100rem;

        @include respond(phone) {
            width: 95%;
        }
    }

    &__heading {
        text-align: center;
        font-family: initial;
        color: rgba(0, 0, 0, 0.89);
        width: 100%;
        margin: 4rem 0 0 0;
        color: rgba(0, 0, 0, 0.89);
        font-family: initial;
        font-size: 6rem;
        font-style: italic;
        font-weight: 700;
        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__info {
        font-size: 2rem;
        font-family: 'Nunito', serif;
        margin: 4rem 0 8rem 0;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        font-family: 'Nunito', serif;
    }

    &__name {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &--input {
            width: 49.75%;
        }
    }

    &__email {
        width: 100%;
    }

    &__message {
        width: 100%;
    }

    &__button {
        font-family: inherit;
        font-size: 2rem;
        height: 7rem;
        width: 15rem;
        background-color: transparent;
        border: 2px solid black;
        transition: 0.2s all;
        outline: none;
        cursor: pointer;
        &:hover {
            background-color: black;
            color: white;
        }
    }

    & textarea {
        width: 100%;
        min-height: 15rem;
        resize: vertical;
        outline: none;
        padding: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.425);
        font-size: 2.1rem;
        font-family: inherit;
        margin: 0.2rem 0 3rem 0;
        z-index: 10;
        &:focus {
            border: 1px solid black;
        }
    }

    & input {
        height: 5rem;
        width: 100%;
        padding: 1.5rem;
        outline: none;
        margin: 0.2rem 0 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.425);
        font-size: 2.1rem;
        font-family: inherit;
        z-index: 10;
        &:focus {
            border: 1px solid black;
        }
    }
}
