.gallery {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: relative;
    &__img-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        overflow: hidden;
    }

    &__img {
        height: auto;

        & img {
            margin: 4rem 0;
            height: 30rem;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-animation: fade-in 1s;
            animation: fade-in 1s;
            transition: all 0.3s;

            &:hover {
                transform: translateY(-1rem) scale(1.04);
                cursor: pointer;
            }
        }
    }

    &__btn {
        display: flex;
        font-size: 5rem;
        color: $color-grey-dark;
        height: 100%;
        width: 4rem;
        background-color: rgba($color-white, 0.5);

        & :hover {
            transition: all 0.3s;
            cursor: pointer;
            background-color: rgba($color-black, 0.1);
            opacity: 1;
        }

        &--prev {
            margin-right: 2rem;
        }

        &--next {
            margin-left: 2rem;
        }
    }

    &__icon ion-icon {
        @include absCenter;
        font-size: 5rem;
        opacity: 0.6;

        &:hover {
            cursor: pointer;
        }
    }
}
