.hero2 {
    padding: 9rem 10rem 5rem 10rem;
    // font-family: 'Cormorant', serif;

    &__img-wrapper {
        display: flex;
        // margin-top: 5rem;
        height: 88vh;
        justify-content: center;
    }

    &__img {
        display: flex;
        flex-direction: row;
        background-image: url('https://zoe-violin.s3.us-east-2.amazonaws.com/imgs/ZOE_HAT.JPG');
        opacity: 0.84;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        height: inherit;
        width: 100vw;
        border: 1.4rem solid #ffffffc7;

        // padding: 0 0 5rem 0;
        // border: 1rem solid blue;

        & h2 {
            color: #fffffff1;
            height: auto;
            padding: 0;
            top: 0;
        }

        &--heading-left {
            height: auto;
            line-height: 19rem;
            width: 45%;

            &--first {
                display: inline;
                font-size: 16rem;
            }

            & h2 {
                margin: 3rem 0 0 1rem;
                font-size: 10rem;

                -webkit-animation: fade-slide-in-left 1s;
                animation: fade-slide-in-left 1s;
                transition: all 0.5s;

                &:nth-child(2) {
                    margin: -5rem 0 0 15rem;
                    -webkit-animation: fade-slide-in-left 1.5s;
                    animation: fade-slide-in-left 1.5s;
                }
            }
        }

        &--heading-middle {
            // border: 1rem solid blue;
            text-align: center;
            height: auto;
            width: 10%;
            line-height: 5rem;

            & h2 {
                font-size: 9rem;

                &:first-child {
                    margin: 30rem 0 0 3rem;
                    transform: translateX(-4rem);
                    -webkit-animation: fade-slide-in-down 1.5s;
                    animation: fade-slide-in-down 1.5s;
                }

                &:nth-child(2) {
                    transform: translateX(2rem);
                    -webkit-animation: fade-in 1s ease-in;
                    animation: fade-in 1s ease-in;
                }

                &:nth-child(3) {
                    transform: translateX(7rem);
                    -webkit-animation: fade-slide-in-up 1.5s;
                    animation: fade-slide-in-up 1.5s;
                }
            }
        }

        &--heading-right {
            // border: 1rem solid blue;
            height: auto;
            text-align: right;
            width: 45%;
            line-height: 7rem;
            margin-right: 1rem;

            & :nth-child(1) {
                margin-right: -3rem;
            }

            & h2 {
                transition: all 0.5s;
                font-size: 10rem;

                &:first-child {
                    margin: 33rem 0 0 0;
                }
                -webkit-animation: fade-slide-in-right 1s;
                animation: fade-slide-in-right 1s;

                &:nth-child(2) {
                    font-size: 7rem;
                    // line-height: 3rem;
                    margin: 3rem 15rem 6.5rem 0;
                }

                &:nth-child(3) {
                    -webkit-animation: fade-slide-in-right 1.5s;
                    animation: fade-slide-in-right 1.5s;
                    margin: -8rem 0 0 10rem;

                    & span {
                        margin-left: 4rem;
                    }
                }
            }
        }
    }
    &__img-box {
        display: none;
        height: 100%;
        background-color: rgba(red, 0.1);
        scroll-behavior: smooth;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -2;
        -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 0% 100%);
        clip-path: polygon(0 0%, 100% 0, 100% 50%, 0% 100%);
    }
}
