.hero2 {
    padding: 9rem 10rem 5rem 10rem;
    // font-family: 'Cormorant', serif;
    @include respond(phone) {
        padding: 7rem 0 5rem 0;
    }

    &__img-wrapper {
        display: flex;
        // margin-top: 5rem;
        height: 88vh;
        justify-content: center;
    }

    &__img {
        display: flex;
        flex-direction: row;
        background-image: url('https://zoe-violin.s3.us-east-2.amazonaws.com/imgs/ZOE_HAT.JPG');
        opacity: 0.84;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        height: inherit;
        width: 100vw;
        border: 1.4rem solid #ffffffc7;

        @include respond(phone) {
            background-size: cover;
            // flex-direction: column;
            height: auto;
        }

        // padding: 0 0 5rem 0;
        // border: 1rem solid blue;

        & h2 {
            color: #fffffff1;
            height: auto;
            padding: 0;
            top: 0;
        }

        &--heading-left {
            height: auto;
            line-height: 19rem;
            width: 45%;
            // border: 1rem solid blue;

            @include respond(phone) {
                line-height: 17rem;
                height: 33vh;
            }

            &--first {
                display: inline;
                font-size: 16rem;

                @include respond(phone) {
                    font-size: 7rem;
                }
            }

            & h2 {
                margin: 0 0 0 1rem;
                font-size: 10rem;
                @include respond(phone) {
                    font-size: 5rem;
                    margin: 2rem 0 0 1rem;
                }

                -webkit-animation: fade-slide-in-left 1s;
                animation: fade-slide-in-left 1s;
                transition: all 0.5s;

                &:nth-child(2) {
                    margin: -5rem 0 0 15rem;
                    -webkit-animation: fade-slide-in-left 1.5s;
                    animation: fade-slide-in-left 1.5s;

                    @include respond(phone) {
                        margin: -10rem 0 0 8rem;
                    }
                }
            }
        }

        &--heading-middle {
            // border: 1rem solid blue;
            text-align: center;
            height: auto;
            width: 10%;
            line-height: 5rem;
            opacity: 0.8;

            @include respond(phone) {
                margin-left: 10rem;
                height: 33vh;
            }

            & h2 {
                font-size: 9rem;

                @include respond(phone) {
                    font-size: 4rem;
                    line-height: 4rem;
                }

                &:first-child {
                    margin: 14rem 0 0 0;
                    transform: translateX(-4rem);
                    -webkit-animation: fade-slide-in-down 1.5s;
                    animation: fade-slide-in-down 1.5s;

                    @include respond(phone) {
                        margin: 11rem 0 0 0;
                        transform: translateX(-3rem);
                        -webkit-animation: fade-slide-in-down-mobile 1.5s;
                        animation: fade-slide-in-down-mobile 1.5s;
                    }
                }

                &:nth-child(2) {
                    transform: translateX(1.5rem);
                    -webkit-animation: fade-in 1s ease-in;
                    animation: fade-in 1s ease-in;
                    @include respond(phone) {
                        transform: none;
                    }
                }

                &:nth-child(3) {
                    transform: translateX(7rem);
                    -webkit-animation: fade-slide-in-up 1.5s;
                    animation: fade-slide-in-up 1.5s;

                    @include respond(phone) {
                        transform: translateX(3rem);
                        -webkit-animation: fade-slide-in-up-mobile 1.5s;
                        animation: fade-slide-in-up-mobile 1.5s;
                    }
                }
            }
        }

        &--heading-right {
            height: auto;
            text-align: right;
            width: 45%;
            line-height: 7rem;
            margin-right: 1rem;
            // border: 1rem solid blue;

            @include respond(phone) {
                line-height: 4rem;
                height: 33vh;
                position: absolute;
                @include absCenter;
                margin-left: 4rem;
            }

            & :nth-child(1) {
                margin-right: -3rem;

                @include respond(phone) {
                    margin-right: -1rem;
                }
            }

            & h2 {
                transition: all 0.5s;
                font-size: 10rem;

                @include respond(phone) {
                    font-size: 5rem;
                }

                &:first-child {
                    margin: 15rem 0 0 0;

                    @include respond(phone) {
                        margin: 0rem 1rem 0 0;
                    }
                }
                -webkit-animation: fade-slide-in-right 1s;
                animation: fade-slide-in-right 1s;

                &:nth-child(2) {
                    font-size: 7rem;
                    // line-height: 3rem;
                    margin: 0 20rem 6.5rem 0;

                    @include respond(phone) {
                        font-size: 5rem;
                        margin: 1rem 15rem 7.5rem 0;
                    }
                }

                &:nth-child(3) {
                    -webkit-animation: fade-slide-in-right 1.5s;
                    animation: fade-slide-in-right 1.5s;
                    margin: -8rem 3rem 0 0;

                    @include respond(phone) {
                        margin: -9rem 0rem 0 8rem;
                    }

                    & span {
                        margin-left: 3rem;
                        @include respond(phone) {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }

    &__packages {
        color: #fffffff1;
        font-size: 3.5rem;
        text-align: left;
        position: absolute;
        bottom: 2vh;
        left: 10vw;

        @include respond(phone) {
            // border: 1rem solid blue;

            font-size: 1.7rem;
            text-align: center;
            // @include absCenter;
            // margin: 28vh 0 0 0;
            left: unset;
            bottom: 1.7rem;
            right: 0;
            width: 100%;
        }

        & ul {
            list-style: none;
        }

        & li {
            @include respond(phone) {
                display: inline;
                padding: 0 1rem;
                color: #654a4e;
            }
        }
    }

    &__img-box {
        display: none;
        height: 100%;
        background-color: rgba(red, 0.1);
        scroll-behavior: smooth;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -2;
        -webkit-clip-path: polygon(0 0%, 100% 0, 100% 50%, 0% 100%);
        clip-path: polygon(0 0%, 100% 0, 100% 50%, 0% 100%);
    }
}
