.music {
    height: 80vh;
    width: 40rem;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 20px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(0, 7rem);
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background: linear-gradient(344deg, rgb(0, 0, 0) 0%, rgb(39, 39, 39) 100%);

    // @include respond(tab-port) {
    //     height: 65vh;
    // }
    // @include respond(phone) {
    //     height: 75vh;
    // }

    &--hide {
        transform: translate(105%, 7rem);
    }

    &__songs {
        // height: 45rem;
        height: 65vh;
        overflow-y: scroll;
        border-bottom: 2px solid rgb(63, 63, 63);

        background: rgb(47, 47, 47);
        background: linear-gradient(
            344deg,
            rgb(0, 0, 0) 0%,
            rgb(39, 39, 39) 100%
        );
        grid-area: 1/1/6/9;

        // @include respond(tab-land) {
        //     height: 50rem;
        // }
        // @include respond(tab-port) {
        //     height: 45rem;
        // }

        // @include respond(phone) {
        //     height: 55vh;
        // }

        &-ul {
            height: 100%;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.89);
            list-style: none;
            height: 5rem;
            width: 100%;
            cursor: pointer;

            &--active {
                background-color: #654a4e65;
            }
        }
    }

    &__playing {
        font-size: 1.25rem;
        grid-area: 6/2/7/8;
        display: flex;
        height: 2rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: flex-start;

        @include respond(phone) {
            margin-top: 3rem;
        }
    }

    &__progress {
        transform: scale(0.1) translate(0, 0);
        width: 100%;
        height: 0.75rem;
        border-radius: 1rem;
        margin-bottom: 3rem;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.57) 100%,
            rgba(161, 152, 79, 0.66) 0%
        );
        opacity: 0.7;
        transition: all 1s;
        grid-area: 8/2/8/8;
    }

    &__control {
        grid-area: 7/1/7/9;
        display: flex;
        color: white;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem 0 1rem 0;
        // background: linear-gradient(
        //     344deg,
        //     rgb(0, 0, 0) 0%,
        //     rgb(39, 39, 39) 100%
        // );

        & ion-icon {
            display: flex;
            align-items: center;
            font-size: 4.5rem;
            height: 5rem;
            cursor: pointer;
        }

        &--prev ion-icon {
        }
        &--play ion-icon {
            font-size: 6rem;
        }
        &--next ion-icon {
        }
    }
}
