.video-player {
    // position: relative;
    &__heading {
        font-family: 'Nunito';
        // position: absolute;
        width: 100%;
        // margin: 26rem 0;
        text-align: center;
        color: $color-grey-dark;
        opacity: 0.6;
        font-size: 5rem;
        // font-weight: 100;
        z-index: -1;
    }

    &__video-box {
        display: flex;
        flex-direction: row;
        padding-top: 10rem;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;

        // border: 3px solid red;
    }

    &__video {
        background-color: rgba(255, 255, 255, 0.112);
        color: $color-grey-dark;
        text-align: center;
        font-size: 0rem;

        & > iframe {
            // padding: 1rem;
            width: 30vw;
            height: 30rem;
            box-shadow: 5rem 4.5rem 4rem rgba($color-black, 0.4);
        }
    }
    &__img-box {
        height: 250vh;
        background-color: rgba(red, 0.1);
        scroll-behavior: smooth;
        position: absolute;
        top: 250%;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -2;

        -webkit-clip-path: polygon(0% 40%, 100% 0%, 100% 100%, 0% 60%);

        clip-path: polygon(0% 40%, 100% 0%, 100% 100%, 0% 60%);
    }
}
